@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* El CSS siguiente esta pensando primero para moviles y luego para 
   Escritiorio*/


*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(0.5em + 1vh);
}

/* El estilo base para moviles */
body {
    background-color: #112935;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
}

/*Definiendo de que tipo sera el header por medio de display flex, para que el 
contenido pueda ser mas legible al usuario*/
.header{
    display: flex;
    justify-content: space-between;
    margin: 0em 1em 0em 2em;
    height: 10vh; /*ajustando el header para que aparezca en una sola seccion desde el movil*/
}

/*Hover aplicado a las opciones de navegacion*/
.header > nav > ul > li > a:hover{
    color: salmon;
}

/*Definiendo el tamanio de el contenido dentro de la li*/
.header > nav > ul > li{
    font-size: 25px;
}

/**/
.src-only {
    display: none;
}

/*Clase utilizada para ocultar la fecha de salto de seccion cuando el usario
navegue en su movil*/
.hide-mobile {
    display: none;
}

/**/
p{
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

/*Definiendo el tamanio del isotipo ubicado en header*/
.logo {
    width: 90px;
    margin: 1em;
}

/*Clase definida para una barra de opciones que aparece solamnente
cuando se esta en un dispositivo movil (telefono)*/
.options {
    color: inherit;
    text-decoration: none;
    position: relative;
    top: 30%;
    right: 95%;
    font-size: 2.5rem;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}

/*seleccionando por medio de selector de hijos  y el ultimo hijo 
de la etiqueta <i> y modificarle su tamanio*/
.options i:last-child {
    font-size: 1.6rem;
}

/* Big area */

/*Big hero adaptado para movil*/
.big-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

/*Modificar el padding del texto para que este alineado al nombre Nestor Aldana*/
.big-hero > .container >p{
    padding: 3px 15.360px 15.360px 15.360px;
}

/*seleccionando por medio de selector de hijos a la imagen de presentacion
-Nestor Aldana-*/
.big-hero img {
    width: 150px;
}

/*seleccionando por medio de selector de hijos el texto h2 
-Nestor Aldana-*/
.big-hero h2 {
    font-size: 1.875em;
    font-weight: 700;
    letter-spacing: 0.002em;
    margin-top: 1em ;
}

/*seleccionando por medio de selector de hijos al parrafo 
-Profesor, investigador, desarrollador web y móvil-*/
.big-hero p {
    font-size: 0.7em;;
    color: #D7DEE6;

}

/* Social links*/

/*Definiendo de tipo flex los logos de github y twitter*/
.social-links{
    list-style: none;
    padding: 0;
    margin-top: 0em;
    display: flex;
    flex-direction: row;
    justify-content: center

}

/*Flecha*/
/*Flecha en direccion hacia abajo, que tiene como funcion principal
dirigir al usuario a la siguiente seccion*/
.fa-arrow-circle-down{
    color: #0AC693;
    font-size: 4em;
    padding-top: 60px;
}

/*Anadiendo hover al botton fa-arrow-circle-down para que cuando el usuario
acerque el raton cambie de color*/
.fa-arrow-circle-down:hover{
    color: salmon;
    font-size: 4em;
    padding-top: 60px;
}

/*Ajustar los iconos de redes sociales a su tamanio adecuado de acuerdo a la imagen base*/
.fab{
    margin: 0.1em;
    font-size: 2em;
    margin-bottom: 1em;
}


/*seleccionando por medio de selector de hijos a las etiquetas de
li y a*/
.social-links li a{
    color: #D7DEE6;
    text-decoration: none;
    font-size: 2.5em;
}

/*area donde se han colocado la lista de articulos*/
.green-area {
    background-color: #0AC693; 
}

/*Modificar los articulos a un margen adecuado a la imagen base*/
.green-area > .container > ul{
    margin: 4em;
    margin-top: 1em;
}

/**/
.post {
    padding: 1em;
    margin-bottom: -2px;
}

/*Modifcando por medio de selectores el tema de los articulos, modificando su letra a 
mayuscula*/
.post h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 1em;
}

/*definiendo el tipo de lista que existen dentro de ul*/
.post ul {
    list-style: none;
}

/*Definiendo el maximo y minimo de tamanio de lo que hay dentro de listas, junto con su
margen*/
.post ul li {
    min-height: 300px;
    max-width: 350px;
    margin: 2rem auto;
}

/*Modificando los articulos por medio de selectores de hijos para darle estilo
a la caja de articulos, dandole propieades de radio, color de fondo, alineacion de texto
y padding inferior*/
.post ul li article {
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: left;
    padding-bottom: 2em;
}

/*Modificando las propiedades de la imagen que esta dentro de la etiqueta
article haciend que cubra el espacio*/
.post article img{
    height: 150px;
    width: 100%;
    object-fit: cover;
}

/*Modificando por medio de selectores de hijos la propiedad de el titulo
de los articulos*/
.post article h3 {
    color: #0D5061;
    margin-top: 2em;
    padding: 0em 1rem;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Modificando por medio de selectores de hijos todos los parrafos de los articulos,
dandole propiedades de color, tamanio, paddiing, etc...*/
.post article p {
    color:#112935;
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

/* About */

/*definiendo un margen superior de 2em a la seccion de about o acerca de*/
.about{
    margin-top: 2em;
}

/*seleccionando por medio de selectores de hijos a h2, modificandole 
su letra, que comience en mayuscula, su ancho y alt y margen*/
.about h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 2em;
}

/*modificando el ancho de la imagen colocada en bio-info*/
.bio-info img{
   width: 200px;
}

/*modificando por medio de selectores de hijos, al parrafo determinandole
el tamanio de su texto, padding, alineado a la izquierda y el espaciado de
letras*/
.bio-info p{
    font-size: 16px;
    padding: 3em;
    text-align: left;
    line-height: 25px;
    letter-spacing: 2px;
}

/*definiendo que tipo de display sera el div con la clase .contact*/
.contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0px 1em;
}

/**/
.contact * + * {
    margin-top: 1.5em;
}

/*Ajustando form padding*/
.contact-form {
    display: flex;
    flex-direction: column;
    padding: 0em 3em 3em 3em;
}

/*Convirtiendo el texto en negrita de los formularios*/
.contact > .contact-form > label{
    font-weight: bold;
}

/*cSeleccionando cada clase individualmente para darle propiedades de padding, border, 
radio de borde, tamanio de letra y ancho*/
.contact-form input, .contact-form textarea{
    padding: 1rem 2rem;
    border: none;
    border-radius: 0px 2em;
    font-size: 1em;
    width: 100%;
}

/* Decorando placeholder */

::-webkit-input-placeholder { 
    color: #D7DEE6; 
} 
 
:-moz-placeholder { /* Firefox 18- */ color: #D7DEE6; } 
 
::-moz-placeholder { /* Firefox 19+ */ color: #D7DEE6; } 
 
:-ms-input-placeholder { color: #D7DEE6; }

/*aplicandole formato al boton de contactar*/
.contact-form input[type=submit] {
    background-color: #F74442;
    font-weight: 400;
    color: white;
    font-size: 1rem;
}

/*Anadiendo hover al boton de contacto*/
.contact-form input[type=submit]:hover {
    background-color: white;
    font-weight: 400;
    color: darkgoldenrod;
    font-size: 1rem;
}


.black-decoration{
    background-image: url("../images/decoracion_oscura_small.svg");
}


/*Dandole formato al footer, color de fondo y color de texto*/
footer{
    background-color: #0D5061;
    color:#D7DEE6;
}

/*Accediendo hasta la ultima etiqueta para aplicarle formato de margen*/
footer > .social-links > li > a > i{
    margin: 0.2em; 
}

/*Modificando por medio de selectores de hijos, dandole propiedades de margen y altura*/
footer .social-links {
    margin: 0;
    height: 5em;
}

.menu {
    background-color: #112935;
    position: absolute;
    z-index: 20;
    top: 60px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 60px);
}

.menu {
    list-style: none;
    text-align: left;
    padding: 1em;
}

.menu li {
    display: block;
    padding: 0.5em;
    margin-top: 5px;
}

.menu li a {
    color: white;
    text-decoration: none;
    
}

/* Pesonalizando estilo para tablets*/
@media only screen and (min-width: 768px) {
  

    .post ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    /*seleccionador de hijos y definiendo minimo y maximo de altura, margen y 
    flex*/
    .post ul li {
        min-height: 350px;
        max-height: 3500px;
        margin: 1rem 2rem;
        flex: 1 0 300px;
    }

    /*tamanio de logo y margen*/
    .logo {
        width: 150px;
        margin: 1.5em;
    }


    .show-desktop {
        display: block;
    }

    /*menu desplegable mostrandose en pantalla*/
    .hide-desktop {
        display: none;
    }


    .menu {
        background-color: #112935; 
        position: static;
        z-index: 20;
        width: auto;
        height:auto;
        display: flex;
        margin-top: 1em;
    }

    /*Ajustando el font size de los textos en la barra de navegacion recorriendo por medio
    de etiquetas o selectores*/
    nav > ul > li > a{
        font-size: 0.75em;
    }

    /*Dividiendo le isotipo con la barra de navegacion por medio de display: flex*/
    .header{
        display: flex;
        align-content: space-between;
        margin: 0em 1em 0em 1em;
    }

    /*Ajustar el texto a una proporcion adecuada a una tableta, tomando en cuentra el tamanio del form*/
    .bio-info p{
        font-size: 20px;
        padding: 50px 80px 80px 80px;
        text-align: left;
        line-height: 25px;
        letter-spacing: 2px;
    }

    /*Modificar los articulos a un margen adecuado a la imagen base*/
    .green-area > .container > ul{
        margin: 0em;    
        margin-top: 1em;
    }

    /*article*/
    .post ul li {
        min-height: 350px;
        max-height: 3500px;
        max-width: 80%;
        margin: 1rem 2rem;
        flex: 1 0 300px;
    }
    
} 

/*Escritorio*/
@media only screen and (min-width: 1024px) {

    /*Modificando la medida de la imagen -Nestor Aldana-*/
    .big-hero img{
        width: 10em;
    } 
    
    /*Modificando "Nestor Aldana"*/
    .big-hero > .container > h2{
        font-size: 2em; 
    }
      /*Modificar el padding del texto para que este alineado al nombre Nestor Aldana*/
    .big-hero > .container >p{
        font-size: 1em;
        padding: 10px 15.360px 15.360px 15.360px;
    }

    /*Ajustar los iconos de redes sociales a su tamanio adecuado de acuerdo a la imagen base*/
    .fab{
        margin: 0.3em;
        font-size: 2em;
        margin-bottom: 1em;
    }

    /*Definiendo el contenedor de tipo grid para seccionar about y contact*/
    .about > .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /*Ajustando acerca de*/
    .about > .container > h2{
        display: grid;
        grid-column: 1 / -1;
        font-size: 30px;
        margin: 0em 3em 3em 0em;
    }

    /*Modificando el boton de contactar*/
    .contact-form input[type=submit] {
        width: 40%;
    }
    
    /*Formularios de contact modificados*/
    .contact{
        padding: 0px 3em;
    }

    /*Modificando la distribucion de imagenes dentro de green area*/
    .green-area > .post > ul{
        display: flex;
        justify-content: space-around;
    }

    /*Modificando las propiedades de los articulos*/
    .post ul li{
        min-height: 350px;
        max-height: 3500px;
        max-width: 350px; 
        margin: 1rem 2rem;
        flex: 1 0 300px;
    }
    
    /*Configurando las propiedades de la ultima imagen para que en un futuro
    pueda adaptarse a la insercion de otra imagen o articulo*/
    .post ul li:last-child {
        min-height: 350px;
        max-height: 3500px;
        max-width: 350px; 
        margin: 1rem 2rem;
        flex: 1 0 300px;
    }

}


/*Escritorio*/
@media only screen and (min-width: 1440px) {

    /*TODO: FALTA CSS */
    .container {
        width: 80%;
        margin: 0 auto;
        max-width: 1440px;
    }

    /*definiendo margenes de header ajustadoa 1440px*/
    .header{
        margin: 0em;
    }

    /*Modificando "Nestor Aldana"*/
    .big-hero > .container > h2{
        font-size: 2.5em; 
    }

    /*Modificando la medida de la imagen -Nestor Aldana-*/
    .big-hero img{
        width: 13em;
    } 

    .green-area{
        height: 80vh;
    }

    /*Ajustar los iconos de redes sociales a su tamanio adecuado de acuerdo a la imagen base*/
    .fab{
        margin: 0.25em;
        font-size: 2em;
        margin-bottom: 1em;
    }

  
}
